<article>
    <% for (let chat of chats ) { %>
        <div class="chat">
            <h3>
                <%= chat.name %>
            </h3>
            <p>
                <%= chat.chat %>
            </p>
        </div>.message %>
</article>